@inject BowerVersions BowerVersions
@inject IConfiguration Config
@inject SiteOptions Options
<!DOCTYPE html>
<html lang="en-gb">
<head prefix="og:http://ogp.me/ns#">
    @{
        string canonicalUri = Context.Request.Canonical();
        string image = ViewBag.MetaImage ?? string.Empty;

        if (!string.IsNullOrEmpty(image))
        {
            image = Url.Content(image);
        }

        var model = MetaModel.Create(
            Options.Metadata,
            canonicalUri: canonicalUri,
            description: ViewBag.MetaDescription as string,
            imageUri: image,
            imageAltText: ViewBag.MetaImageAltText as string,
            robots: ViewBag.MetaRobots as string,
            title: ViewBag.Title as string);

        await Html.RenderPartialAsync("_Meta", model);
        await Html.RenderPartialAsync("_Links", canonicalUri);
    }
    @RenderSection("meta", required: false)
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        if (self == top) {
            document.documentElement.className = document.documentElement.className.replace(/\bjs-flash\b/, '');
        }
        else {
            top.location = self.location;
        }
    </script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="link-home" asp-controller="Home" asp-action="Index" class="navbar-brand">@Options.Metadata.Domain</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a id="link-projects" asp-controller="Projects" asp-action="Index" class="navbar-brand" title="My personal projects">Projects</a></li>
                    <li><a id="link-blog" asp-controller="Home" asp-action="Blog" class="navbar-brand" target="_blank" title="My blog">Blog</a></li>
                    <li><a id="link-tools" asp-controller="Tools" asp-action="Index" class="navbar-brand" title="Development tools">Tools</a></li>
                    <li><a id="link-about" asp-controller="Home" asp-action="About" class="navbar-brand" title="About me">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @await Html.PartialAsync("_Footer", Options)
    </div>
    @await Html.PartialAsync("_Scripts", BowerVersions)
    @RenderSection("scripts", required: false)
</body>
<!--
    Datacenter: @Config["Azure:Datacenter"]
    Instance:   @Environment.MachineName
    Commit:     @GitMetadata.Commit
-->
</html>
