@inject BowerVersions BowerVersions
@inject SiteOptions Options
@{
    ViewBag.Title = "About Martin";
    ViewBag.MetaDescription = $"Information about {Options.Metadata.Author.Name}, a software developer and tester.";

    string image = Url.CdnContent("martin_small.png", Options);
    int yearsExperience = (int)Math.Floor((DateTimeOffset.UtcNow - new DateTimeOffset(2006, 9, 4, 0, 0, 0, TimeSpan.Zero)).TotalDays / 365);
}
<div class="row">
    <div class="col-md-4">
        <br />
        <noscript>
            <img class="center-block img-responsive" height="300" width="288" src="@image" alt="@Options.Metadata.Author.Name" title="@Options.Metadata.Author.Name" asp-append-version="true" />
        </noscript>
        <lazyimg class="center-block img-responsive" height="300" width="288" src="@image" alt="@Options.Metadata.Author.Name" title="@Options.Metadata.Author.Name" asp-append-version="true" />
    </div>
    <div class="col-md-8">
        <h1>About Martin</h1>
        <p>@Options.Metadata.Author.Name is a C# .NET developer and tester with over @yearsExperience years of experience testing and developing high-quality software and is based in London, UK.</p>
        <p>His experience includes various parts of the Microsoft technology stack and cloud hosting, including:</p>
        <ul>
            <li>ASP.NET</li>
            <li>Amazon Web Services</li>
            <li>EntityFramework</li>
            <li>Git</li>
            <li>Microsoft Azure</li>
            <li>MSBuild</li>
            <li>MSTest/NUnit/xunit</li>
            <li>SQL Server</li>
            <li>Visual Studio Team Services/Team Foundation Server</li>
            <li>WCF</li>
        </ul>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
        <h4 class="hidden-xs hidden-sm">GitHub</h4>
        <a class="github-button hidden-xs hidden-sm" href="https://github.com/martincostello" rel="noopener" target="_blank" data-style="mega" data-count-href="/martincostello/followers" data-count-api="/users/martincostello#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @@martincostello on GitHub">Follow @@martincostello</a>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm">
        <h4>LinkedIn</h4>
        <noscript>
            <a href="https://www.linkedin.com/pub/martin-costello/37/253/16a" title="View Martin's LinkedIn profile">@Options.Metadata.Author.Name on LinkedIn</a>
        </noscript>
        <script async type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/martin-costello/37/253/16a" data-format="hover" data-text="@Options.Metadata.Author.Name" data-related="false">
        </script>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <h4 class="hidden-xs hidden-sm">Twitter</h4>
        <a class="twitter-follow-button" href="https://twitter.com/@Options.Metadata.Author.SocialMedia.Twitter" data-size="large" data-show-count="false" title="@Options.Metadata.Author.SocialMedia.Twitter on Twitter">Follow @Options.Metadata.Author.SocialMedia.Twitter</a>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm">
        <h4>Stack Overflow</h4>
        <a class="hidden-xs hidden-sm" href="https://stackoverflow.com/story/martincostello">
            <img src="https://stackoverflow.com/users/flair/1064169.png?theme=clean" width="208" height="58" alt="View Martin's Stack Overflow developer story" title="View Martin's Stack Overflow developer story">
        </a>
    </div>
</div>
@section scripts {
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script async defer src="//platform.linkedin.com/in.js"></script>
    <script async defer src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
}
