@implements IUsesLayout<_Layout, LayoutModel>

<h1>@(LayoutModel.Title)</h1>
<div class="card">
    <div class="card-body">This page contains tools and links to common development tools.</div>
</div>
<noscript>
    <hr />
    <div class="alert alert-warning" role="alert">JavaScript must be enabled in your browser to use these tools.</div>
</noscript>
<hr />
<div>
    @(await RenderPartialAsync<_GenerateGuid>())
</div>
<hr />
<div>
    @(await RenderPartialAsync<_GenerateHash>())
</div>
<hr />
<div>
    @(await RenderPartialAsync<_GenerateMachineKey>())
</div>

@functions {
    public LayoutModel LayoutModel { get; } = new(".NET Development Tools")
    {
        Description = ".NET Development Tools for generating GUIDs, ASP.NET machine keys and hashing text.",
    };

    protected override Task ExecuteSectionAsync(string name)
    {
        if (name is "meta")
        {
            var options = HttpContext?.RequestServices.GetRequiredService<IOptions<SiteOptions>>();
            var baseAddress = options?.Value.ExternalLinks?.Api ?? new("https://api.martincostello.com/", UriKind.Absolute);
            <link name="api-guid" rel="nofollow" href="@(new Uri(baseAddress, "/tools/guid"))" />
            <link name="api-hash" rel="nofollow" href="@(new Uri(baseAddress, "/tools/hash"))" />
            <link name="api-machine-key" rel="nofollow" href="@(new Uri(baseAddress, "/tools/machinekey"))" />
        }
        else if (name is "scripts")
        {
            <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js" integrity="sha512-7O5pXpc0oCRrxk8RUfDYFgn0nO1t+jLuIOQdOMRp4APB7uZ4vSjspzp5y6YDtDs4VzUSTbWzBFZ/LKJhnyFOKw==" crossorigin="anonymous" defer></script>
        }

        return Task.CompletedTask;
    }
}
